In [93]:
import pandas as pd

df = pd.read_csv('data.csv')
df.head()

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag
0,Croc Textured Two Fold Wallet,Lino Perros,0.0,0,1295.0,828.0,Onesize,wallets/lino-perros/lino-perros-women-peach-co...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",wallets,lino-perros
1,Men Striped Sliders,Mast & Harbour,4.0,76,1299.0,584.0,"UK6,UK7,UK8,UK9,UK10,UK11",flip-flops/mast--harbour/mast--harbour-men-nav...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",flip-flops,mast--harbour
2,Printed A-line Kurta,Biba,4.3,66,1999.0,1599.0,"S,M,L,XL,XXL,3XL",kurtas/biba/biba-women-off-white--black-printe...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurtas,biba
3,Girls Floral Printed T-shirt,Anthrilo,0.0,0,599.0,539.0,"7-8Y,8-9Y,9-10Y",tshirts/anthrilo/anthrilo-girls-white-floral-p...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",tshirts,anthrilo
4,Women Printed Kurta with Skirt,FASHION DWAR,0.0,0,2899.0,2899.0,"S,M,L,XL",kurta-sets/fashion-dwar/fashion-dwar-women-mul...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurta-sets,fashion-dwar

### 1. Checking Null Values

In [94]:
df.isnull().sum()

product_name         0
brand_name           0
rating               0
rating_count         0
marked_price        21
discounted_price    21
sizes                4
product_link         0
img_link            45
product_tag          0
brand_tag            0
dtype: int64

### 2. Droping rows with null values

In [95]:
df = df.dropna()

df.isnull().sum()

product_name        0
brand_name          0
rating              0
rating_count        0
marked_price        0
discounted_price    0
sizes               0
product_link        0
img_link            0
product_tag         0
brand_tag           0
dtype: int64

### 3. Checking Dataset with no null values

In [96]:
df.head()

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag
0,Croc Textured Two Fold Wallet,Lino Perros,0.0,0,1295.0,828.0,Onesize,wallets/lino-perros/lino-perros-women-peach-co...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",wallets,lino-perros
1,Men Striped Sliders,Mast & Harbour,4.0,76,1299.0,584.0,"UK6,UK7,UK8,UK9,UK10,UK11",flip-flops/mast--harbour/mast--harbour-men-nav...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",flip-flops,mast--harbour
2,Printed A-line Kurta,Biba,4.3,66,1999.0,1599.0,"S,M,L,XL,XXL,3XL",kurtas/biba/biba-women-off-white--black-printe...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurtas,biba
3,Girls Floral Printed T-shirt,Anthrilo,0.0,0,599.0,539.0,"7-8Y,8-9Y,9-10Y",tshirts/anthrilo/anthrilo-girls-white-floral-p...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",tshirts,anthrilo
4,Women Printed Kurta with Skirt,FASHION DWAR,0.0,0,2899.0,2899.0,"S,M,L,XL",kurta-sets/fashion-dwar/fashion-dwar-women-mul...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurta-sets,fashion-dwar

### 4. Preprocessing Rating Count

In [97]:
rating_count = []

for i in df['rating_count']:
    
    if(i[-1] == 'k'):
        rating_count.append(int(float(i[:-1]) * 1000))
      
    else:
        rating_count.append(int(i))
        
df['rating_count'] = rating_count

df.head()

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag
0,Croc Textured Two Fold Wallet,Lino Perros,0.0,0,1295.0,828.0,Onesize,wallets/lino-perros/lino-perros-women-peach-co...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",wallets,lino-perros
1,Men Striped Sliders,Mast & Harbour,4.0,76,1299.0,584.0,"UK6,UK7,UK8,UK9,UK10,UK11",flip-flops/mast--harbour/mast--harbour-men-nav...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",flip-flops,mast--harbour
2,Printed A-line Kurta,Biba,4.3,66,1999.0,1599.0,"S,M,L,XL,XXL,3XL",kurtas/biba/biba-women-off-white--black-printe...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurtas,biba
3,Girls Floral Printed T-shirt,Anthrilo,0.0,0,599.0,539.0,"7-8Y,8-9Y,9-10Y",tshirts/anthrilo/anthrilo-girls-white-floral-p...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",tshirts,anthrilo
4,Women Printed Kurta with Skirt,FASHION DWAR,0.0,0,2899.0,2899.0,"S,M,L,XL",kurta-sets/fashion-dwar/fashion-dwar-women-mul...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurta-sets,fashion-dwar

### 5. Dealing with Marked Price

In [98]:
marked_price = []

for i in df['marked_price']:
    marked_price.append(int(i))
    
df['marked_price'] = marked_price

df.head()

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag
0,Croc Textured Two Fold Wallet,Lino Perros,0.0,0,1295,828.0,Onesize,wallets/lino-perros/lino-perros-women-peach-co...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",wallets,lino-perros
1,Men Striped Sliders,Mast & Harbour,4.0,76,1299,584.0,"UK6,UK7,UK8,UK9,UK10,UK11",flip-flops/mast--harbour/mast--harbour-men-nav...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",flip-flops,mast--harbour
2,Printed A-line Kurta,Biba,4.3,66,1999,1599.0,"S,M,L,XL,XXL,3XL",kurtas/biba/biba-women-off-white--black-printe...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurtas,biba
3,Girls Floral Printed T-shirt,Anthrilo,0.0,0,599,539.0,"7-8Y,8-9Y,9-10Y",tshirts/anthrilo/anthrilo-girls-white-floral-p...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",tshirts,anthrilo
4,Women Printed Kurta with Skirt,FASHION DWAR,0.0,0,2899,2899.0,"S,M,L,XL",kurta-sets/fashion-dwar/fashion-dwar-women-mul...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurta-sets,fashion-dwar

### 6. Dealing with Discounted Price

In [99]:
discounted_price = []

for i in df['discounted_price']:
    discounted_price.append(int(i))
    
df['discounted_price'] = discounted_price

df.head()

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag
0,Croc Textured Two Fold Wallet,Lino Perros,0.0,0,1295,828,Onesize,wallets/lino-perros/lino-perros-women-peach-co...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",wallets,lino-perros
1,Men Striped Sliders,Mast & Harbour,4.0,76,1299,584,"UK6,UK7,UK8,UK9,UK10,UK11",flip-flops/mast--harbour/mast--harbour-men-nav...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",flip-flops,mast--harbour
2,Printed A-line Kurta,Biba,4.3,66,1999,1599,"S,M,L,XL,XXL,3XL",kurtas/biba/biba-women-off-white--black-printe...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurtas,biba
3,Girls Floral Printed T-shirt,Anthrilo,0.0,0,599,539,"7-8Y,8-9Y,9-10Y",tshirts/anthrilo/anthrilo-girls-white-floral-p...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",tshirts,anthrilo
4,Women Printed Kurta with Skirt,FASHION DWAR,0.0,0,2899,2899,"S,M,L,XL",kurta-sets/fashion-dwar/fashion-dwar-women-mul...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurta-sets,fashion-dwar

## 7. Data Exploration

#### 7.1 How many brands we're having in the dataset?

In [100]:
df['brand_name'].nunique()

3194

#### 7.2 What is the maximum marked-price of a product?

In [101]:
df['marked_price'].max()

113999

#### 7.3 What is the maximum discounted-price of a product?

In [102]:
df['discounted_price'].max()

45900

#### 7.4 Name the product with maximum marked-price?

In [103]:
df[df['marked_price'] == 113999]['product_name'].values[0]

'Lord Krishna Showpiece'

#### 7.5 Name the product with maximum discounted-price?

In [104]:
df[df['discounted_price'] == 45900]['product_name'].values[0]

'Men Automatic Motion Watch'

### 8. Adding Discount Column

In [105]:
discount_amount  = []
discount_percent = []

for i in df.values:
    
    
    discount_amount.append(i[4]-i[5])
    discount_percent.append(int(100 - (i[5]/i[4])*100))
    
df['discount_amount']  = discount_amount
df['discount_percent'] = discount_percent

df.head()

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag,discount_amount,discount_percent
0,Croc Textured Two Fold Wallet,Lino Perros,0.0,0,1295,828,Onesize,wallets/lino-perros/lino-perros-women-peach-co...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",wallets,lino-perros,467,36
1,Men Striped Sliders,Mast & Harbour,4.0,76,1299,584,"UK6,UK7,UK8,UK9,UK10,UK11",flip-flops/mast--harbour/mast--harbour-men-nav...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",flip-flops,mast--harbour,715,55
2,Printed A-line Kurta,Biba,4.3,66,1999,1599,"S,M,L,XL,XXL,3XL",kurtas/biba/biba-women-off-white--black-printe...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurtas,biba,400,20
3,Girls Floral Printed T-shirt,Anthrilo,0.0,0,599,539,"7-8Y,8-9Y,9-10Y",tshirts/anthrilo/anthrilo-girls-white-floral-p...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",tshirts,anthrilo,60,10
4,Women Printed Kurta with Skirt,FASHION DWAR,0.0,0,2899,2899,"S,M,L,XL",kurta-sets/fashion-dwar/fashion-dwar-women-mul...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurta-sets,fashion-dwar,0,0

### 9. Product with Maximum Discount
##### 9.1 Maximum Discount Price

In [111]:
df[df['discount_amount'] == df['discount_amount'].max()]

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag,discount_amount,discount_percent
27045,Lord Krishna Showpiece,eCraftIndia,0.0,0,113999,45599,Onesize,showpieces/ecraftindia/ecraftindia-gold-toned-...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",showpieces,ecraftindia,68400,60

##### 9.2 Maximum Discount Percentage

In [112]:
df[df['discount_percent'] == df['discount_percent'].max()]

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag,discount_amount,discount_percent
132361,Dharmavaram Art Silk Saree,MS RETAIL,0.0,0,13650,1228,Onesize,sarees/ms-retail/ms-retail-pink--gold-toned-za...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",sarees,ms-retail,12422,91

### 10.Finding the Cheapest Product on Myntra
##### 10.1 Product based on marked price

In [119]:
df[df['marked_price'] == df['marked_price'].min()]

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag,discount_amount,discount_percent
70387,Sandal Incense Sticks,Iris,3.6,7,50,50,Onesize,home-fragrances/iris/iris-yellow-sandal-incens...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",home-fragrances,iris,0,0
111244,Handcrafted Incense Sticks,Iris,4.6,9,50,50,Onesize,home-fragrances/iris/iris-yellow-handcrafted-i...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",home-fragrances,iris,0,0

##### 10.2 Product based on discounted price

In [120]:
df[df['discounted_price'] == df['discounted_price'].min()]

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag,discount_amount,discount_percent
2672,Nail Pops Nail Polish- 28,ELLE 18,4.3,3900,55,49,Pack,nail-polish/elle-18/elle-18-nail-pops-nail-pol...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",nail-polish,elle-18,6,10

In [121]:
df.to_csv('data.csv', index = False)

In [122]:
df.head()

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag,discount_amount,discount_percent
0,Croc Textured Two Fold Wallet,Lino Perros,0.0,0,1295,828,Onesize,wallets/lino-perros/lino-perros-women-peach-co...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",wallets,lino-perros,467,36
1,Men Striped Sliders,Mast & Harbour,4.0,76,1299,584,"UK6,UK7,UK8,UK9,UK10,UK11",flip-flops/mast--harbour/mast--harbour-men-nav...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",flip-flops,mast--harbour,715,55
2,Printed A-line Kurta,Biba,4.3,66,1999,1599,"S,M,L,XL,XXL,3XL",kurtas/biba/biba-women-off-white--black-printe...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurtas,biba,400,20
3,Girls Floral Printed T-shirt,Anthrilo,0.0,0,599,539,"7-8Y,8-9Y,9-10Y",tshirts/anthrilo/anthrilo-girls-white-floral-p...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",tshirts,anthrilo,60,10
4,Women Printed Kurta with Skirt,FASHION DWAR,0.0,0,2899,2899,"S,M,L,XL",kurta-sets/fashion-dwar/fashion-dwar-women-mul...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurta-sets,fashion-dwar,0,0